.menu{
  margin-top: 70px;
  top: 0;
  display: flex;
  justify-content: space-around;
  top: 0;
  font-size: larger
  
  

}
.menu-icon{
  background-color: rgba(0, 0, 0, .5);
color:white;
margin-top: 15px;
padding: 8px;
font-weight: bold;


}

.display{
  display: flex;
  justify-content: center;

  

}
.hyperlink{
  color: gold
}

.main{
  background-image: url('./assets/background.png');
  height: max-content;
  background-size: cover;
  border: solid black 1px;

  

}
a{
  color:white;
  text-decoration: none;
}
.dash{
  
  margin-top: 5px;
  top: 0;
  display: flex;
  justify-content: space-around;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  height:25px;
  padding-top: 5px;
  font-size: larger


  

 

}
.landing{
  background-color: rgba(0, 0, 0, .5);
  height:800px;
  width: 1000px;
  margin-top: 50px;
  color: white;
  display: flex;
justify-content: center;
text-align: center;
margin-bottom: 100px;
border: solid black 1px;



}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.2em;
  padding: .7em;
  background-color: rgba(63, 63, 63, 0.9);
  text-align: center;
  font-size: 1em;
  
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.2em;
  padding: .7em;
  background-color: rgba(63, 63, 63, 0.9);
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  
}

.menu:hover, .dash:hover {
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.landing_img{
  margin-top:200px;
  width: 95%;
  margin: 5px;
  border: solid black 1px;
  
}

.tips{
  background-color: rgba(0, 0, 0, .5);
  height: auto;
  width: 700px;
  margin-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
justify-content: center;
text-align: center;
margin-bottom: 100px;
}

.article{
  border: solid black;
  margin: 15px;
  padding: 15px;
  font-size: large;

}